root { 
    display: block;
}



footer {
    width: 99%;
}

footer div{
    width: 100%; 
    max-width: 960px;
    bottom: 0;
    margin:auto;
    text-align: center;
}

footer img{
    margin: auto 0;
}

/*classe para auxiliar no cancelamento de float*/
.clearFull{
    display:block;
    clear:both;
}

/*classe para auxiliar no espacamento*/
.div10{ height: 10px; }
.div20{ height: 20px; }
.div80{ height: 80px; }
